<!-- header.component.html -->
<mat-toolbar class="custom-toolbar">
  <div class="toolbar-content">
    <div class="logo-container">
      <mat-icon class="logo-icon">energy_savings_leaf</mat-icon>
      <span class="title">{{ title }}</span>
    </div>

    <span class="spacer"></span>

    <nav class="navigation">
      <ng-container *ngFor="let link of navLinks">
        <button
          mat-button
          [routerLink]="link.route"
          class="nav-button"
        >
          <mat-icon>{{ link.icon }}</mat-icon>
          {{ link.label }}
        </button>
      </ng-container>
    </nav>
  </div>
</mat-toolbar>
